scrapydweb_settings.py
scrapydweb_settings_v*.py


tests/*.html
tests/data/


scrapydweb/data/*
!scrapydweb/data/parse/
!scrapydweb/data/demo_projects/

scrapydweb/data/parse/*
!scrapydweb/data/parse/demo.txt
!scrapydweb/data/parse/demo0.txt

scrapydweb/data/demo_projects/*
!scrapydweb/data/demo_projects/demo/
!scrapydweb/data/demo_projects/demo - 副本/

scrapydweb/data/demo_projects/demo/*
!scrapydweb/data/demo_projects/demo/demo/
!scrapydweb/data/demo_projects/demo/scrapy.cfg

scrapydweb/data/demo_projects/demo - 副本/*
!scrapydweb/data/demo_projects/demo - 副本/demo/
!scrapydweb/data/demo_projects/demo - 副本/scrapy.cfg


venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

.idea
