/* dropdown start */
/* https://www.w3schools.com/howto/howto_js_mobile_navbar.asp */

/* https://www.w3schools.com/css/css_dropdowns.asp */
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    margin: 0px 12px; /* margin-left: 15px; */
    width: 220px;
    height: 32px;
    align-self: center;
    border: 1px solid #03a87c; /* #379392 */
    border-radius: 2px;
}

/* .dropdown:hover{ */
    /* background: #9DC8C8; */
    /* border: 1px solid #9DC8C8; */
/* } */

/* .dropdown:hover .icon.anchor { */
    /* transform: rotate(90deg) */
/* } */

/* Style The Dropdown Button */
.dropbtn {
    /* background-color: #4CAF50; */
    /* background-color: #67c23a; */
    color: #03a87c; /* #379392 */
    /* padding: 8px 16px; */
    line-height: 32px;
    padding: 0 16px;
    font-size: 16px;

    cursor: pointer;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.dropbtn>span {
    flex-grow: 1;

}

.dropbtn>.ip{
    width: 1.5rem;
    height: 1.5rem;
    padding-right: .5rem;
}

.dropbtn>.icon.anchor{
    width: 1rem;
    height: 1rem;
    transition: all .3s ease-out;
}

.dropdown-content-wrap {
    display: none;
    width: 220px;
    max-height: 70vh;
    overflow: hidden;
    z-index: 9999;
    position: absolute;
    top: 100%;
    transform: translateY(1px);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: #ebf0f5;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    min-width: 160px;
    /* margin-right: -15px; */
    overflow-y: hidden;
    flex-grow: 1;
}

/* .dropdown-content:hover { */
    /* overflow-y: scroll; */
/* } */
.dropdown-content {
    overflow-y: scroll;
}

/* https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
/* width */
.dropdown-content::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.dropdown-content::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    border-radius: 10px;
}

/* Handle */
.dropdown-content::-webkit-scrollbar-thumb {
    background: #9093994d;
    border-radius: 10px;
}

/* Handle on hover */
.dropdown-content::-webkit-scrollbar-thumb:hover {
    background: #90939980;
}


/* Links inside the dropdown */
.dropdown-content a {
    color: #777;
    padding: 4px 16px;
    text-decoration: none;
    display: block;
    line-height: 32px;
    text-align: left;
}

.dropdown-content div {
    color: red;
    line-height: 16px;
    padding: 4px 16px;
}

/* Change color of dropdown links on hover */
/* .dropdown-content a:hover { */
    /* background-color: #f1f1f1; */
    /* background-color:#fff; */
    /* color: #333; */
    /* font-weight: 500; */
/* } */

/* Show the dropdown menu on hover */
/* .dropdown:hover .dropdown-content-wrap { */
    /* display: flex; */
/* } */

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn { */
    /* background-color: #3e8e41; */
    /* */
    /* color: #fff; */
    /* color: #03a87c; */
/* } */

/* .dropdown:hover .dropbtn .icon { */
    /* opacity: 0.9; */
/* } */
/* dropdown end */