body,
div,
ul,
ol,
li,
p,
input {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    min-width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(241, 245, 248);
    font-size: 16px;
    font-family: Cambria, Georgia, Times, "Times New Roman", serif;
    color: #555;
}

.icon {
    width: 1.25em;
    height: 1.25em;
    vertical-align: -0.175em;
    fill: currentColor;
    overflow: hidden;
}


em.normal {color: black;}
em.pass {
    color: #67c23a;
    font-size: large;
    font-weight: bold;
}
em.fail {
    color: red;
    font-size: large;
    font-weight: bold;
}


pre {
    white-space: pre-wrap;
    background-color: #eee;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #409EFF; /* #3091d1*/
}

aside a {color: #909090;}
aside a:hover {color: #3d3d3d;}


a.link {color: #2980B9;}
a.link:hover {color: #409EFF;}
a.link:visited {
    /* color: #9B59B6; */
}

a.request {text-decoration: underline;}


ul,
ol {
    list-style: none;
}

ul#links{
    position: absolute;
    bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}
@media (max-height: 745px) {
  ul#links { position: relative; }
}

.clear-float {
    zoom: 1;
}

/* ==for IE6/7 Maxthon2== */
.clear-float:after {
    clear: both;
    content: '';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
}


/* ==for FF/chrome/opera/IE8== */
nav {
    height: 50px;
    min-height: 50px;
    line-height: 50px;
    box-shadow: 0 0 18px 0 #d4dee6;
    color: #909090;
    padding-right: 60px;
    display: flex;

    background: #fff;
    /* background-color: rgba(218, 227, 234, .24); */
}

nav>.title {
    display: inline-block;
    font-size: 20px;
    width: 160px;
    min-width: 160px;
    color: #fff;
    background: #feb324; /* rgb(252, 209, 51); */
    text-align: center;
    position: relative;
}

nav>.title:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-top: 10px solid #feb324;  /* rgb(252, 209, 51); */
    border-bottom: 10px solid transparent;
    top: 100%;
    left: 0;
}

nav>.title>.version {
    font-size: 14px;
    color: #aaa;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    z-index: 1;
}

nav>.switch-node {text-align: center;}
nav>.switch-node>a {
    color: #909090;
    line-height: 50px;
    font-size: 30px;
    padding: 0 10px;
}
nav>.switch-node>a:hover {color: #409EFF;}
nav>.switch-node span {font-size: 18px;}




main {
    display: flex;
    flex-grow: 1;
}

main>aside {
    box-sizing: border-box;
    min-width: 160px;
    background-color: rgba(218, 227, 234, .24);
    border-right: 1px solid #d9e3ea;
    padding: 50px 0;
}

main>aside h3 {
    color: #444;
    line-height: 40px;
    cursor: default;
    font-size: 16px;
    padding: 0 20px;
    margin: 0;
}

main>aside a {
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
    line-height: 30px;
    padding-left: 20px;
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

main>aside li a:hover {
    background: #fff;
    fill: #555;
}

main>aside li a.active {
    color: #409EFF;
    fill: #409EFF;
    font-weight: 500;
}

main>aside li a > span {
    padding-left: 5px;
}


main>aside li#scrapydweb_version{
    height: 30px;
    padding-left: 20px;
}

main>aside li#pypi{height: 35px;}
main>aside li#pypi a{
    padding-left: 0px;
    margin-left: 20px;
    margin-top: 5px;
    width: min-content;
    height: 20px;
}
main>aside li#pypi a:hover{
    background: none;
    opacity: 0.7;
}

main>aside li#github{
    height: 25px;
    padding-top: 5px;
    padding-left: 20px;
}

main>.content-wrap {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
}




#content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /*align-items: center;*/
    box-sizing: border-box;
    /* height: 100%; */
    overflow-x: hidden;
    overflow-y: scroll;
    margin-right: -15px;
    padding: 16px 48px;
    /*font-family: Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;*/
    font-family: "Gotham Rounded A", "Gotham Rounded B", "Gotham Rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

#content>h2 {word-break: break-all;}
#content>h3 {word-break: break-all;}

#content .flashes li{
    list-style: none;
    font-size: 14px;
    margin:12px 0;
    padding: 6px 8px;
    width: fit-content;
    border-radius: 4px;
}
#content .flashes li.info{
    color: #61b962; /* #67c23a #3c763d #61b962*/
    background-color: #dff0d8; /* #f0f9eb */
}
#content .flashes li.warning{
    color: #f56c6c; /* #f56c6c #c7254e*/
    background-color: #fef0f0; /* #fef0f0 #f9f2f4*/
}




.upload {
    display: flex;
    font-size: 14px;
}

.upload>.upload-button {
    height: 30px;
    line-height: 30px;
    padding: 0 25px;
    outline: 0;
    background: #feb324; /* rgb(252, 209, 51); */
    color: #3d3d3d;
    /*font-weight: 100;*/
    transition: all .3s ease-out;
    box-shadow: 1px 1px 1px 0 #d4dee6, -1px -1px 1px 0 #d4dee6;
}

.upload>.upload-button:hover {
    /* background: #ffe06c; */
    /* opacity: 0.9; */
    opacity: 0.7;
}

.upload>.upload-button>input {
    width: 1px;
    position: absolute;
    opacity: 0.01;
}

.upload>.filename {
    cursor: default;
    width: 265px;
    line-height: 30px;
    padding: 0 25px;
}

.upload>.submit {
    display: inline-block;
    padding: 0 20px;
    height: 30px;
    line-height: 30px;
    font-size: 24px;
    text-align: center;
    background: #fcfcfc;
    box-shadow: 1px 1px 1px 0 #d4dee6, -1px -1px 1px 0 #d4dee6;
    transition: all .3s ease-out;
}

.upload>.submit:hover {
    background: #fff;
}


.iconfont.icon-upload::before {
    font-size: 26px;
    font-weight: 500;
    color: #feb324; /* rgb(252, 209, 51); */
    text-align: center;
    vertical-align: middle;
}

.wrap {
    padding: 8px 16px;   /* 8px; */
    margin-bottom: 20px; /* 8px */
    /*border: 1px solid red;*/
    box-shadow: 1px 2px 3px 0 #d4dee6;
    background: #fcfcfc;
}

.table>h3 {
    margin: 5px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    /*border: 1px solid red;*/
}

table tr {
    text-align: center;
    height: 30px;
    border-bottom: 1px solid #ebeef5;
    padding: 0 20px;
    position: relative;
}

table th {
    font-weight: 500;
    background: #faf8e9;
}

table>tbody>tr {
    font-size: 14px;
    font-weight: 300;
}

.popover {
    position: absolute;
    left: 0;
    top: 0;
}

/*table >tbody tr .hover {
  display: none;
}*/

table>tbody tr .hover {
    display: inline-block;
    position: absolute;
    /*  width: 100%;*/
    left: 0;
    top: 100%;
    background: red;
}

table>tbody tr:nth-child(2n) {
    background: #fafafa;
}

table>tbody tr:nth-child(2n+1) {
}

table>tbody tr:last-child {
    border-bottom: 0;
}

.vertical-table th,
.vertical-table td {
    padding-left: 20px; /* 10px */
    padding-right: 20px; /* 10px */
}

.vertical-table th {
    font-weight: 700;
}

.vertical-table td {
    text-align: left;
}

/* https://stackoverflow.com/questions/49095440/width-fit-content-working-on-chrome-but-not-explorer */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/width#Browser_compatibility */
.vertical-table {
    /* width: fit-content; */
    display: table;
}


.state,
.button {
    border-radius: 3px;
    padding: 3px 10px;
    opacity: 1; /* 0.7 */
    color: #fff;
    transition: all 0.1s ease-out;
}

.state:hover,
.button:hover {
    opacity: 0.7; /* 1 */
    color: #fff;
}

.button {
    font-size: 20px;
    font-weight: 400;
    /* background: #ea795e; */
    padding: 5px 20px;
}

.state.normal{
    background: #409EFF;
}

.state.safe {
    background: #67c23a;
}

.state.danger {
    background: #fd6b6e;
}

.state.warning {
    background: #feb324; /* orange */
}

.button.normal{
    background: #409EFF;
}

.button.safe {
    background: #67c23a;
}

.button.danger {
    background: #fd6b6e;
}

.button.warning {
    background: #feb324; /* orange */
}


.tab-header {
    border-bottom: 2px solid #ddd;
}

.tab-header>li {
    float: left;
    padding: 10px 20px;
    font-weight: 400;
    cursor: pointer;
}

.tab-header>li.active {
    color: #409EFF;
    box-shadow: 0 2px 0 0 #409EFF;
    /*box-shadow: 0 2px 0 0 rgb(252, 209, 51)*/
}

.tab-header>li:hover {
  color: #409EFF;
}

.tab-content>li {
  display: none;
  padding: 10px;
  /*visibility: hidden;*/
}

.tab-content>li.active {
  display: block;
  /*visibility: visible;*/
}


.collapse >li {
    border-bottom: 1px solid #ebeef5;
    padding: 10px 0;
    overflow-y: hidden;
    height: 45px;
}

.collapse >li:last-child {
    border-bottom: none;
}
.collapse > li.active {
    height: auto;
}
.collapse-wrap h3 {
    color: #f7d945;
    /*color: #409EFF;*/
    border-bottom: 2px solid #ddd;
    padding: 10px 0;
    margin: 0;
}
.collapse .title {
    position: relative;
}
.collapse h4{
    margin: 0;
    line-height: 50px;
    cursor: pointer;
    font-weight: 400;
    color: #707070;
}

.collapse-wrap h4:hover {
    color: #3d3d3d;
}
.collapse > li.active h4 {
    color: #3d3d3d;
}

.collapse p{
    line-height: 30px;
}
.collapse i.icon-right{
    position: absolute;
    right: 10px;
    top: 0;
    font-weight: 300;
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: #707070;
    transition: .2s all ease-in-out;
}

.collapse > li.active i.icon-right{
    transform: rotate(90deg);
}


/*.collapse-wrap li.active .icon-right {
    transform: rotate(90deg);
}*/
/*.collapse-wrap i.icon-right:hover:before{
    color: #409EFF;
}*/


nav>#nav_daemonstatus{
    flex-grow: 1;
    text-align: right;
}

nav>#nav_daemonstatus>li{
    display: inline-block;
}

/* https://www.w3schools.com/howto/howto_css_arrows.asp */
nav i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  font-size: 16px;
  width: 4px;
  height: 4px;
}

#nav_daemonstatus span {
    margin-left: 4px;
    margin-right: 24px;
}




/* loader START */
/* https://www.w3schools.com/howto/howto_css_loader.asp */
/* https://stackoverflow.com/questions/6256043/css-position-loading-indicator-in-the-center-of-the-screen */
.loader {
    z-index:99;
    cursor: pointer;
    position: fixed;
    left: 50%;
    top: 35%;
    border: 16px solid #f3f3f37a;
    border-radius: 50%;
    border-top: 16px solid #409EFF;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 0.7s linear infinite; /* Safari */
    animation: spin 0.7s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* loader END */




/* https://stackoverflow.com/questions/17714705/how-to-use-checkbox-inside-select-option#answer-27547021 */
/* https://stackoverflow.com/questions/15632287/set-max-height-on-inner-div-so-scroll-bars-appear-but-not-on-parent-div */
.multiselect {
    width: 210px;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
    height: 30px; /*  */
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes {
    /* display: none; */
    display: block;
    border: 1px #dadada solid;
    /*  */
    overflow-y: hidden;
    max-height: 30vh; /* 240px */
}

#checkboxes:hover{
    overflow-y: scroll;
}


/* https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
/* width */
#checkboxes::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#checkboxes::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    border-radius: 10px;
}

/* Handle */
#checkboxes::-webkit-scrollbar-thumb {
    background: #9093994d;
    border-radius: 10px;
}

/* Handle on hover */
#checkboxes::-webkit-scrollbar-thumb:hover {
    background: #90939980;
}

#checkboxes label {
    display: block;
    /*  */
    padding: 2px;
    cursor: pointer;
}

#checkboxes label:hover {
    /* background-color: #1e90ff; */
    background-color: #f1f5f8;
}

#checkboxes span {
    color: red;
    padding-left: 16px;
}



/* skip unselected nodes START */
/* https://www.w3schools.com/howto/howto_css_switch.asp */
label.skip-node {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

label.skip-node input {
    opacity: 0;
    width: 0;
    height: 0;
}

span.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #dcdfe6;
    -webkit-transition: .2s;
    transition: .2s;
}

span.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
}

input:checked + span.slider {
    background-color: #67c23a;
}

input:focus + span.slider {
    box-shadow: 0 0 1px #67c23a;
}

input:checked + span.slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
span.slider.round {
    border-radius: 17px;
}

span.slider.round:before {
    border-radius: 50%;
}
/* skip unselected nodes END */
