body,
div,
ul,
ol,
li,
p,
input {
    margin: 0;
    padding: 0;
}

body {
    /* padding: 10px; */
    background: rgb(241, 245, 248);
}

.icon {
    width: 1.25em;
    height: 1.25em;
    vertical-align: -0.175em;
    fill: currentColor;
    overflow: hidden;
}

nav>.switch-node>a {font-size: 30px;}
nav>.switch-node>a:hover {color: #409EFF;}
nav>.switch-node span {font-size: 18px;}

pre {
    /* white-space: pre; */
        white-space: pre-wrap;
    background-color: #eee;
}
@media (max-width: 639px) {
    pre {word-break: break-word;}
}


a {
    text-decoration: none;
    color: #909090;
}
/* a:hover { */
    /* color: #9B59B6; */
/* } */
.link{
    text-decoration: underline;
    color: #409EFF;
}


.wrap {
    /* padding: 8px 16px; */
    margin-bottom: 20px;
    box-shadow: 1px 2px 3px 0 #d4dee6;
    background: #fcfcfc;
}


.vertical-table {
    display: table;
}


ul,
ol {
    list-style: none;
}


.clear-float {
    zoom: 1;
}

/* ==for IE6/7 Maxthon2== */
.clear-float:after {
    clear: both;
    content: '';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
}


nav {
    height: 50px;
    min-height: 50px;
    line-height: 50px;
    box-shadow: 0 0 18px 0 #d4dee6;
    color: #909090;
    /* padding-right: 15px; */
    display: flex;

    background: #fff;
    /* background-color: rgba(218, 227, 234, .24); */
}


.state,
.button {
    border-radius: 3px;
    padding: 0px 10px; /* 3px 10px */
    opacity: 1; /* 0.7 */
    color: #fff;
    transition: all 0.1s ease-out;
}

.state:hover,
.button:hover {
    opacity: 0.7; /* 1 */
    color: #fff;
}

.button {
    font-size: 16px; /* 20px */
    font-weight: 1000; /* 400 */
    /* background: #ea795e; */
    padding: 8px 5px; /* 5px 20px */
    margin-right: 8px;
}

.state.normal, .button.normal {
    background: #409EFF;
}

.state.safe , .button.safe {
    background: #67c23a;
}

.state.danger, .button.danger {
    background: #fd6b6e;
}

.state.warning, .button.warning{
    background: #feb324; /* orange */
}




.tab-header {
    border-bottom: 2px solid #ddd;
}

.tab-header>li {
    float: left;
    padding: 10px 20px;
    font-weight: 400;
    cursor: pointer;
}

.tab-header>li.active {
    color: #409EFF;
    box-shadow: 0 2px 0 0 #409EFF;
    /*box-shadow: 0 2px 0 0 rgb(252, 209, 51)*/
}

.tab-header>li:hover {
  color: #409EFF;
}

.tab-content>li {
  display: none;
  padding: 10px;
  /*visibility: hidden;*/
}

.tab-content>li.active {
  display: block;
  /*visibility: visible;*/
}





.collapse >li {
    border-bottom: 1px solid #ebeef5;
    padding: 10px 0;
    overflow-y: hidden;
    height: 45px;
    /* margin-left: 8px; */
}

.collapse >li:last-child {
    border-bottom: none;
}
.collapse > li.active {
    height: auto;
}
.collapse-wrap h3 {
    color: #f7d945;
    /*color: #409EFF;*/
    border-bottom: 2px solid #ddd;
    padding: 10px; /* 10px 0 */
    margin: 0;
}
.collapse .title {
    position: relative;
    /* margin: 0 10px; */
    margin-left: 20px;
    margin-right: 10px;
}
.collapse h4{
    margin: 0;
    line-height: 50px;
    cursor: pointer;
    font-weight: 400;
    color: #707070;
}

.collapse-wrap h4:hover {
    color: #3d3d3d;
}
.collapse > li.active h4 {
    color: #3d3d3d;
}

.collapse p{
    line-height: 30px;
}
.collapse i.icon-right{
    position: absolute;
    right: 0;  /* 10px */
    top: 0;
    font-weight: 300;
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: #707070;
    transition: .2s all ease-in-out;
}

.collapse > li.active i.icon-right{
    transform: rotate(90deg);
}





/* loader start */
/* https://githubtimeline.xyz */
.loader {
    z-index:99;
    cursor: pointer;
    position: fixed;
    left: 50%;
    top: 50%;

    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #409EFF; /* Blue */
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: spin 1s linear infinite;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* loader end */




